# virtuelle Umgebung
.venv/


# gesamte Daten (inkl. Unterordner und Dateien)
/data/

# Bytecode und temporäres
__pycache__/
*.pyc

# Editor-/IDE-spezifisches
.vscode/
.idea/

# 
requirements.txt
.DS_Store

# Ignore all files inside user_data/ but keep the folder
user_data/*
!user_data/.gitkeep
